<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" th:fragment="form-user">
    <form class="rd-mailform text-left" data-form-output="form-output-global" data-form-type="contact" th:object="${user}" action="/user/form" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="row row-20">
            <div class="col-md-12">
                <label class="form-label-outside">NAMA DEPAN</label>
                <div class="form-wrap form-wrap-inline">
                    <input class="form-input" id="firstName" type="text" th:field="*{firstName}" required/>
                </div>
            </div>
            <div class="col-md-12">
                <label class="form-label-outside">NAMA BELAKANG</label>
                <div class="form-wrap form-wrap-inline">
                    <input class="form-input" id="lastName" type="text" th:field="*{lastName}" required/>
                </div>
            </div>
            <div class="col-md-12">
                <label class="form-label-outside">USERNAME</label>
                <div class="form-wrap form-wrap-inline">
                    <input class="form-input" id="username" type="text" th:field="*{username}" required/>
                </div>
            </div>
            <div class="col-md-12">
                <label class="form-label-outside">PASSWORD</label>
                <div class="form-wrap form-wrap-inline">
                    <input class="form-input" id="password" type="text" th:field="*{password}" required/>
                </div>
            </div>
            <div class="col-lg-12 offset-custom-4">
                <div class="form-button">
                    <button class="button button-secondary button-nina" type="submit">SIMPAN</button>
                </div>
            </div>
        </div>
    </form>
</div>