<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" class="wide wow-animation" lang="en">
<head>
	<!-- Site Title-->
	<title>Sistem Buku Tamu - Pengadilan Agama Ponorogo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700%7CLato:300,400,300italic,700%7CMontserrat:900">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/fonts.css">
	<style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
</head>
<body>
	<!-- Page preloader-->
	<div class="preloader">
		<div class="preloader-body">
			<div class="cssload-container">
				<div class="cssload-speeding-wheel"></div>
			</div>
		</div>
	</div>
	<!-- Page-->
	<div class="page">
		<!-- Page Header-->
		<header class="section page-header">
			<!-- RD Navbar-->
			<div class="rd-navbar-wrap rd-navbar-corporate">
				<nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxxl-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fullwidth" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-xxxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="130px" data-xl-stick-up-offset="160px" data-stick-up="true">
					<div class="rd-navbar-inner">
						<!-- RD Navbar Panel-->
						<div class="rd-navbar-panel">
							<!-- RD Navbar Toggle-->
							<button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
							<!-- RD Navbar Brand-->
							<div class="rd-navbar-brand">
								<!--Brand--><a class="brand-name" th:href="@{/guestbook}"><img class="logo-default" src="/images/logo-pa.png" alt="" width="119" height="24"/><img class="logo-inverse" src="/images/logo-pa.png" alt="" width="119" height="24"/></a>
							</div>
						</div>
						<div class="rd-navbar-aside-center">
							<div class="rd-navbar-nav-wrap">
								<ul class="rd-navbar-nav">
									<li class="rd-nav-item" sec:authorize="hasRole('ADMIN')" th:classappend="${#httpServletRequest.requestURI == '/' ? 'active' : ''}"><a class="rd-nav-link" th:href="@{/}"><span class="fa fa-home"></span> Beranda</a>
									</li>
									<li class="rd-nav-item" sec:authorize="isAnonymous()" th:classappend="${#httpServletRequest.requestURI == '/guestbook' ? 'active' : ''}"><a class="rd-nav-link" th:href="@{/guestbook}"><span class="fa fa-address-book-o"></span> Buku Tamu</a>
									</li>
									<li class="rd-nav-item" sec:authorize="hasRole('ADMIN')"  th:classappend="${#httpServletRequest.requestURI == '/guestbook/list' ? 'active' : ''}"><a class="rd-nav-link" th:href="@{/guestbook/list}"><span class="fa fa-address-book-o"></span> Daftar Tamu</a>
									</li>
									<li class="rd-nav-item" sec:authorize="isAnonymous()" th:classappend="${#httpServletRequest.requestURI == '/appointment' ? 'active' : ''}"><a class="rd-nav-link" th:href="@{/appointment}"><span class="fa fa-calendar-plus-o"></span> Buat Janji</a>
									</li>
									<li class="rd-nav-item" sec:authorize="hasRole('ADMIN')"  th:classappend="${#httpServletRequest.requestURI == '/appointment/list' ? 'active' : ''}"><a class="rd-nav-link" th:href="@{/appointment/list}"><span class="fa fa-calendar-plus-o"></span> Daftar Janji</a>
									</li>
									<li class="rd-nav-item" sec:authorize="hasRole('ADMIN')"  th:classappend="${#httpServletRequest.requestURI == '/pegawai/list' ? 'active' : ''}"><a class="rd-nav-link" th:href="@{/pegawai/list}"><span class="fa fa-users"></span> Daftar Pegawai</a>
									</li>
									<li class="rd-nav-item" sec:authorize="hasRole('ADMIN')" th:classappend="${#httpServletRequest.requestURI == '/report' ? 'active' : ''}"><a class="rd-nav-link" th:href="@{/report}"><span class="fa fa-table"></span> Laporan</a>
									</li>
								</ul>
							</div>
							<div class="rd-navbar-aside-right-inner">
								<!-- RD Navbar Search-->
							</div>
						</div>
						<div class="rd-navbar-aside-right" sec:authorize="isAnonymous()">
							<a class="button button-icon button-icon-right button-sm button-default-outline button-nina" th:href="@{/login}">Masuk <span class="fa fa-sign-in"></span></a>
						</div>

						<div class="rd-navbar-aside-right" sec:authorize="isAuthenticated()">
							<a class="button button-icon button-icon-right button-sm button-default-outline button-nina" th:href="@{/logout}">Keluar <span class="fa fa-sign-out"></span></a>
						</div>
					</div>
				</nav>
			</div>
		</header>

		<th:block layout:fragment="content"/>

		<!--Footer-->
		<!-- Footer Minimal-->
      <footer class="section novi-bg novi-bg-img page-footer page-footer-minimal text-center">
        <div class="container container-wide">
          <div class="row justify-content-sm-center align-items-md-center row-30">
            <div class="col-md-10 col-lg-7 col-xl-4 text-xl-left">
              <!--Brand--><a class="brand-name" href="index.html"><img class="logo-default" src="/images/logo.png" alt="" width="119" height="24"/>
            </div>
            <div class="col-md-10 col-lg-7 col-xl-4">
              <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>Pengadilan Agama Ponorogo</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a></p>
            </div>
            <div class="col-md-10 col-lg-7 col-xl-4 text-xl-right">
              <ul class="group-xs group-middle">
                <li><a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-facebook" href="index.html#"></a></li>
                <li><a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-twitter" href="index.html#"></a></li>
                <li><a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-instagram" href="index.html#"></a></li>
                <li><a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-google" href="index.html#"></a></li>
                <li><a class="icon novi-icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-linkedin" href="index.html#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
	<!-- Global Mailform Output-->
	<div class="snackbars" id="form-output-global"></div>
	<!-- Javascript-->
	<script src="/js/core.min.js"></script>
	<script src="/js/script.js"></script>
</body>

</html>