<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org" class="js"
    xmlns:sec="http://www.w3.org/1999/xhtml"
    layout:decorate="~{fragments/layout.html}">

  <div layout:fragment="content">

      <!-- hi, we are brave-->
      <section class="section section-lg bg-default">
        <div class="container container-bigger">
          <div class="row row-ten row-50 justify-content-md-center justify-content-xl-between flex-lg-row-reverse">
            <div class="col-md-9 col-lg-5 col-xl-4">
              <h2 class="text-primary text-uppercase">Selamat datang di situs Buku Tamu Pengadilan Agama Ponorogo.</h2>
              <p class="heading-5">Website ini dibuat sebagai sarana untuk memberikan beragam informasi khususnya yang berkaitan dengan tugas pokok dan fungsi Pengadilan Agama Ponorogo.</p>
              <p class="text-spacing-sm" style="text-align: justify;">Kami secara aktif terus berinovasi untuk memberikan informasi yang relevan demi untuk peningkatan kepuasan dalam mendapatkan informasi khususnya di Pengadilan Agama Ponorogo. Kami juga membuka diri untuk menerima masukan sebagai bahan untuk perbaikan yang berkelanjutan.</p>
              <p class="text-spacing-sm" style="text-align: justify;">Terima kasih anda telah berkunjung di website kami.</p>
              <p class="text-spacing-sm" style="text-align: justify;">Terima Kasih</p>
              <a class="button button-default-outline-2 button-nina" href="https://www.pa-ponorogo.go.id/#">Pelajari Lebih Lanjut</a>
            </div>
            <div class="col-md-9 col-lg-5"><img src="images/about-pa.jpeg" alt="" width="720" height="459"/>
            </div>
          </div>
        </div>
      </section>

    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>