<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" class="js"
	  xmlns:sec="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/layout.html}">

<main class="container" layout:fragment="content">

	<div class="row mb-5">
		<div class="py-5 text-center">
			<img class="d-block mx-auto mb-4" src="images/bootstrap-logo.svg"
				alt="" width="72" height="57">
			<h2>Appointment</h2>
			<p class="lead">Silahkan isi appointment dibawah ini</p>
		</div>
	</div>

	<div class="row mb-3" th:if="${success}">
		<div class="alert alert-success" role="alert">
			Appointment berhasil diinput
		</div>
	</div>

	<div class="row mb-5">
		<div class="accordion accordion-flush" id="accordionExample">
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingOne">
					<button class="accordion-button" type="button"
						data-bs-toggle="collapse" data-bs-target="#collapseOne"
						aria-expanded="true" aria-controls="collapseOne">Appointment</button>
				</h2>
				<div id="collapseOne" class="accordion-collapse collapse"
					aria-labelledby="headingOne" data-bs-parent="#accordionExample">

					<div class="accordion-body">
						<div class="row g-5">
							<div class="col-md-7 col-lg-8">
								<h4 class="mb-3">Appointment</h4>
								<form class="needs-validation" action="/appointment" method="post">

									<div class="row g-3">
										<div class="my-3">
											<label for="nama" class="form-label">Jenis Tamu</label>
											<div class="form-check">
												<input name="jenis" type="radio"
													   class="form-check-input" value="umum" checked required> <label
													class="form-check-label" for="credit">Umum</label>
											</div>
											<div class="form-check">
												<input  name="jenis" type="radio"
														class="form-check-input" value="khusus" required> <label
													class="form-check-label" for="debit">Khusus</label>
											</div>
										</div>

										<div class="col-sm-6">
											<label for="nama" class="form-label">Nama</label> <input
												type="text" class="form-control" id="nama" name="nama" placeholder=""
												value="" required>
											<div class="invalid-feedback">Nama harus diisi</div>
										</div>

										<div class="my-3">
											<label for="nama" class="form-label">Jenis Kelamin</label>
											<div class="form-check">
												<input id="credit" name="jenisKelamin" type="radio"
													   class="form-check-input" value="laki-laki" checked required> <label
													class="form-check-label" for="credit">Laki-laki</label>
											</div>
											<div class="form-check">
												<input id="debit" name="jenisKelamin" type="radio"
													   class="form-check-input" value="perempuan" required> <label
													class="form-check-label" for="debit">Perempuan</label>
											</div>
										</div>

										<div class="my-3">
											<label for="nama" class="form-label">Jenis Identitas</label>
											<div class="form-check">
												<input id="credit" name="tipeIdentitas" type="radio"
													   class="form-check-input" value="ktp" checked required> <label
													class="form-check-label" for="credit">KTP</label>
											</div>
											<div class="form-check">
												<input id="debit" name="tipeIdentitas" type="radio"
													   class="form-check-input" value="sim" required> <label
													class="form-check-label"  for="debit">SIM</label>
											</div>
										</div>

										<div class="col-sm-6">
											<label for="nama" class="form-label">Nomor Identitas</label>
											<input type="text" class="form-control" name="nomorIdentitas" id="nomorIdentitas"
												   placeholder="" value="" required>
											<div class="invalid-feedback">Nomor Identitas harus
												diisi</div>
										</div>

										<div class="col-sm-6">
											<label for="nama" class="form-label">Alamat</label>
											<textarea class="form-control" name="alamat" id="alamat"></textarea>
											<div class="invalid-feedback">Alamat</div>
										</div>

										<div class="col-sm-6">
											<label for="nama" class="form-label">Keperluan</label>
											<textarea class="form-control" name="keperluan" id="keperluan"></textarea>
											<div class="invalid-feedback">Keperluan</div>
										</div>

										<div class="col-sm-6">
											<label for="nama" class="form-label">Pihak yang
												ditemui</label> <input type="text" class="form-control" id="pihakYgDitemui" name="pihakYgDitemui"
																	   placeholder="" value="" required>
											<div class="invalid-feedback">Pihak yang ditemui harus diisi</div>
										</div>

										<div class="col-sm-6">
											<label for="nama" class="form-label">Tanggal Janji</label>
											<input type="datetime-local" class="form-control" name="janjiTemuDate"/>
											<div class="invalid-feedback">Tanggal Janji harus diisi</div>
										</div>

										<hr class="my-4">

										<button class="w-100 btn btn-primary btn-lg" type="submit">Submit
											Form</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
		</div>
	</div>


	<div class="row mb-5" sec:authorize="isAuthenticated()">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Tamu</th>
					<th scope="col">Nama</th>
					<th scope="col">Jenis Kelamin</th>
					<th scope="col">Jenis Identitas</th>
					<th scope="col">Nomor Identitas</th>
					<th scope="col">Alamat</th>
					<th scope="col">Keperluan</th>
					<th scope="col">Pihak yang ditemui</th>
					<th scope="col">Tanggal Janji</th>
					<th scope="col">Status</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="bt, idx : ${appointment}">
					<th scope="row">[[${idx.index+1}]]</th>
					<td>[[${bt.jenis}]]</td>
					<td>[[${bt.nama}]]</td>
					<td>[[${bt.jenisKelamin}]]</td>
					<td>[[${bt.tipeIdentitas}]]</td>
					<td>[[${bt.nomorIdentitas}]]</td>
					<td>[[${bt.alamat}]]</td>
					<td>[[${bt.keperluan}]]</td>
					<td>[[${bt.pihakYgDitemui}]]</td>
					<td>[[${#dates.format(bt.janjiTemuDate, 'dd MMM yyyy HH:mm')}]]</td>
					<td>[[${bt.approved}]]</td>
					<td>
						<form action="/appointment/approve" method="post">
							<input type="hidden" name="id" th:value="${bt.id}"/>
							<button type="submit" class="btn btn-primary">Approve</button>
						</form>
						<form action="/appointment/reject" method="post">
							<input type="hidden" name="id" th:value="${bt.id}"/>
							<button type="submit" class="btn btn-danger">Reject</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</main>

</html>