<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" class="js"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout.html}" >

<!-- Color Header Row Table-->

    <form id="searchForm" th:action="@{/guestbook/list}" th:object="${searchParam}" method="post" layout:fragment="content">
        <input type="hidden" id="page" th:field="*{page}"/>

        <section class="section section-lg bg-default text-center pb-5">
            <div class="container-fullwidth-custom">
                <h4 class="text-primary">Daftar Tamu</h4>
                <div class="alert alert-success" role="alert" th:if="${deleted}">
                    Data tamu berhasil dihapus
                </div>
                <div class="row justify-content-sm-center">
                    <div class="col-md-2">
                        <label class="form-label-outside" for="forms-3-name">NAMA</label>
                        <div class="form-wrap">
                            <div class="input-group">
                                <input class="form-input" id="forms-3-name" type="text" th:field="*{nama}" data-constraints="@Required">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label-outside" for="forms-3-name">NO HANDPHONE</label>
                        <div class="form-wrap">
                            <div class="input-group">
                                <input class="form-input" id="forms-3-name" type="text" th:field="*{noHp}" data-constraints="@Required">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label-outside">JENIS TAMU</label>
                        <div class="form-wrap">
                            <!-- Select 2-->
                            <div class="input-group">
                                <select type="text" class="form-input" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" data-constraints="@Required" th:field="*{jenis}">
                                    <option value="">Pilih salah satu</option>
                                    <option value="Khusus">Tamu Khusus</option>
                                    <option value="Umum">Tamu Umum</option>
                                </select>
                                <span class="input-group-text input-bg-filter" id="basic-addon1">
                            <div class="fa fa-chevron-down"></div>
                          </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label-outside">KEPERLUAN</label>
                        <div class="form-wrap">
                            <div class="input-group">
                                <select type="text" class="form-input" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" data-constraints="@Required" th:field="*{keperluan}">
                                    <option value="">Pilih salah satu</option>
                                    <option value="Dinas">Dinas</option>
                                    <option value="Pribadi">Pribadi</option>
                                    <option value="Informasi & Pengaduan">Informasi & Pengaduan</option>
                                    <option value="Surat Menyurat">Surat Menyurat</option>
                                    <option value="Lainnya">Lainnya</option>
                                </select>
                                <span class="input-group-text input-bg-filter" id="basic-addon1">
                            <div class="fa fa-chevron-down"></div>
                          </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label-outside" for="forms-3-name">TANGGAL MULAI</label>
                        <div class="form-wrap">
                             <div class="input-group">
                                <input class="form-input" data-time-picker="date" th:field="*{startDate}">
                                <span class="input-group-text input-bg-filter">
                                    <div class="fa fa-calendar"></div>
                                </span>
                             </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label-outside" for="forms-3-name">TANGGAL SELESAI</label>
                        <div class="form-wrap">
                            <div class="input-group">
                                <input class="form-input" data-time-picker="date" th:field="*{endDate}">
                                <span class="input-group-text input-bg-filter">
                                    <div class="fa fa-calendar"></div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10"></div>
                    <div class="col-md-1">
                        <div class="button button-icon button-icon-left button-default-outline button-nina button-filter" data-toggle="tooltip" data-placement="top" title="Unduh" onclick="exportFile()"><span class="icon fa fa-download"></span></div>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="button button-icon button-icon-left button-secondary button-nina button-filter" data-toggle="tooltip" data-placement="top" title="Cari"><span class="icon fa fa-search"></span></button>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-lg bg-default text-center">
            <div class="container-fullwidth-custom">
                <div class="row justify-content-sm-center">
                    <div class="col-md-12">
                        <div class="table-novi table-custom-responsive">
                    <table class="table-custom table-color-header">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Jenis Tamu</th>
                            <th>Nama</th>
                            <th>L/P</th>
                            <th>Alamat</th>
                            <th>ID</th>
                            <th>No ID</th>
                            <th>No HP</th>
                            <th>No Telepon</th>
                            <th>Pihak</th>
                            <th>Tanggal</th>
                            <th>Keperluan</th>
                            <th>Keterangan</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="bt, idx : ${bukuTamu}">
                            <td>[[${idx.index+1}]]</td>
                            <td>[[${bt.jenis}]]</td>
                            <td>[[${bt.nama}]]</td>
                            <td>[[${bt.jenisKelamin}]]</td>
                            <td>[[${bt.alamat}]]</td>
                            <td>[[${bt.tipeIdentitas}]]</td>
                            <td>[[${bt.nomorIdentitas}]]</td>
                            <td>[[${bt.noHp}]]</td>
                            <td>[[${bt.noTelepon}]]</td>
                            <td>[[${bt.pihakYgDitemuiNama}]]</td>
                            <td>[[${#dates.format(bt.createdDate, 'dd MMM yyyy')}]]</td>
                            <td>[[${bt.keperluan}]]</td>
                            <td>[[${bt.keterangan}]]</td>
                            <td>
                                <a th:href="@{'/guestbook/update/'+${bt.id}}">
                                    <button type="button" class="button button-secondary button-nina button-action bg-edit" data-toggle="tooltip" data-placement="right" title="Edit"><span class="icon fa fa-pencil" style="color:mediumaquamarine;"></span></button>
                                </a>
                                <a th:href="@{'/guestbook/delete/'+${bt.id}}">
                                    <button type="button" class="button button-secondary button-nina button-action bg-delete" data-toggle="tooltip" data-placement="right" title="Hapus"><span class="icon fa fa-trash" style="color:tomato;"></span></button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                        <div>
                            <div></div>
                            <ul class="pagination-custom">
                                <li>
                                    <a href="#" th:onclick="'paginationLink(\'' + @{${currentPage}-1} + '\')'">
                                        <
                                    </a>
                                </li>
                                <li th:classappend="${page == currentPage+1 ? 'active':''}">
                                    <a th:each="page : ${pageNumbers}" th:onclick="'paginationLink(\'' + @{${page}-1} + '\')'">
                                        [[${page}]]
                                    </a>
                                </li>
                                <li>
                                    <a href="#" th:onclick="'paginationLink(\'' + @{${currentPage}+1} + '\')'">
                                        >
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>

            <script th:inline="javascript">
                var totalPages = /*[[${totalPages}]]*/ 0;
                function paginationLink(page){
                    if(page < 0){
                        page = 0;
                    }
                    else if(page > totalPages-1){
                        page = totalPages-1;
                    }
                    $('#page').val(page);
                    $('#searchForm').submit();
                }

                function exportFile(){
                    $("#searchForm").attr("action", "/guestbook/list/export");
                    $("#searchForm").submit();
                    $("#searchForm").attr("action", "/guestbook/list");
                }
            </script>
        </section>
    </form>

</html>