<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org" class="js"
	  xmlns:sec="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{fragments/layout.html}">

	<div layout:fragment="content">
		<section class="section section-lg bg-default text-center">
			<div class="container">
				<h3 class="text-primary">STATISTIK JUMLAH TAMU BULAN [[${bulan}]]</h3>
				<div class="row justify-content-sm-center row-xl row-30">
					<!-- Pricing Box-->
					<div class="col-md-6 col-xl-3">
						<div class="pricing-box pricing-box-novi">
							<div class="pricing-box-header">
								<h4>TAMU UMUM</h4>
							</div>
							<div class="pricing-box-body">
								<div class="pricing-box-price">
									<div class="heading-2">[[${tamuUmumCurrent}]]</div>
									<h5>TAMU</h5>
								</div>
							</div>
						</div>
					</div>
					<!-- Pricing Box-->
					<div class="col-md-6 col-xl-3">
						<div class="pricing-box pricing-box-novi">
							<div class="pricing-box-header">
								<h4>TAMU KHUSUS</h4>
							</div>
							<div class="pricing-box-body">
								<div class="pricing-box-price">
									<div class="heading-2">[[${tamuKhususCurrent}]]</div>
									<h5>TAMU</h5>
								</div>
							</div>
						</div>
					</div>
					<!-- Pricing Box-->
					<div class="col-md-6 col-xl-3">
						<div class="pricing-box pricing-box-novi">
							<div class="pricing-box-header">
								<h4>JANJI</h4>
							</div>
							<div class="pricing-box-body">
								<div class="pricing-box-price">
									<div class="heading-2">[[${janjiCurrent}]]</div>
									<h5>TAMU</h5>
								</div>
							</div>
						</div>
					</div>
					<!-- Pricing Box-->
					<div class="col-md-6 col-xl-3">
						<div class="pricing-box pricing-box-novi">
							<div class="pricing-box-header">
								<h4>JUMLAH TOTAL</h4>
							</div>
							<div class="pricing-box-body">
								<div class="pricing-box-price">
									<div class="heading-2">[[${totalCurrent}]]</div>
									<h5>TAMU</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section section-lg bg-default text-center">
			<div class="container">
				<h3 class="text-primary">STATISTIK JUMLAH TAMU TOTAL</h3>
				<div class="row justify-content-sm-center row-xl row-30">
					<!-- Pricing Box-->
					<div class="col-md-6 col-xl-3">
						<div class="pricing-box pricing-box-novi">
							<div class="pricing-box-header">
								<h4>TAMU UMUM</h4>
							</div>
							<div class="pricing-box-body">
								<div class="pricing-box-price">
									<div class="heading-2">[[${tamuUmum}]]</div>
									<h5>TAMU</h5>
								</div>
							</div>
						</div>
					</div>
					<!-- Pricing Box-->
					<div class="col-md-6 col-xl-3">
						<div class="pricing-box pricing-box-novi">
							<div class="pricing-box-header">
								<h4>TAMU KHUSUS</h4>
							</div>
							<div class="pricing-box-body">
								<div class="pricing-box-price">
									<div class="heading-2">[[${tamuKhusus}]]</div>
									<h5>TAMU</h5>
								</div>
							</div>
						</div>
					</div>
					<!-- Pricing Box-->
					<div class="col-md-6 col-xl-3">
						<div class="pricing-box pricing-box-novi">
							<div class="pricing-box-header">
								<h4>JANJI</h4>
							</div>
							<div class="pricing-box-body">
								<div class="pricing-box-price">
									<div class="heading-2">[[${janji}]]</div>
									<h5>TAMU</h5>
								</div>
							</div>
						</div>
					</div>
					<!-- Pricing Box-->
					<div class="col-md-6 col-xl-3">
						<div class="pricing-box pricing-box-novi">
							<div class="pricing-box-header">
								<h4>JUMLAH TOTAL</h4>
							</div>
							<div class="pricing-box-body">
								<div class="pricing-box-price">
									<div class="heading-2">[[${total}]]</div>
									<h5>TAMU</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section section-lg bg-default text-center">
			<div class="container">
				<div id="chart" style="height: 280px;"></div>
			</div>
		</section>

		<section class="section section-lg bg-default text-center">
			<div class="container">
				<div id="chart2" style="height: 280px;"></div>
			</div>
		</section>

		<section class="section section-lg bg-default text-center">
			<div class="container">
				<div id="chart3" style="height: 280px;"></div>
			</div>
		</section>

		<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
		<script th:inline="javascript">
			window.onload = function () {

				var chart = /*[[${grafikTamuTotal}]]*/ {};
				var chart1 = new CanvasJS.Chart("chart", chart);
				chart1.render();

				var chart2Data = /*[[${grafikTamu}]]*/ {};
				var chart2 = new CanvasJS.Chart("chart2", chart2Data);
				chart2.render();

				var chart3Data = /*[[${grafikStatistikKeperluanTamu}]]*/ {};
				var chart3 = new CanvasJS.Chart("chart3", chart3Data);
				chart3.render();

			}
		</script>

	</div>
</html>